#Example of database credentials
DB_URL=jdbc:postgresql://{host}:{port}/{db_name}?currentSchema={schema_name} #postgresql
DB_USERNAME={your username}
DB_PASSWORD={your password}
DB_DRIVER= {your database driver} #optional
DB_SCHEMA
spring.datasource.hikari.connection-init-sql=ALTER SESSION SET CURRENT_SCHEMA = YOUR_SCHEMA_NAME

# notes
oracle_driver = oracle.jdbc.OracleDriver
